:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    border-radius: 7px;
    user-select: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;



    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #8d8d8d83 #333333;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #333333;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bfbfbf2f;
    border-radius: 10px;
    border: 10px none #ffffff62;
  }
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(50,50,55,1) 100%);
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  input[type="checkbox"] {
    margin-top: 15px;
    width: 1.5em;
    height: 1.5rem;
    accent-color: #db891e;

  }
  button:hover {
    border: 1px solid rgba(255, 255, 255, 0.164);

    /* background-color: #9c9c9c33 !important; */

    /* box-shadow: rgba(255, 255, 255, 0.041) 1.95px 1.95px 6px; */
  }
  button:focus,
  button:focus-visible {
    /* outline: 4px auto -webkit-focus-ring-color; */
  }
  .dark-button{
    margin: 3px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.8em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: all ease-in 0.25s;
  }
  .dark-button:hover{
    border: 1px solid rgba(255, 255, 255, 0.164);
  }

  .light-button{
    margin: 3px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.8em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #dcdbd6;
    transition: all ease-in 0.25s;
  }
  .light-button:hover{
    /* box-shadow: #ffa125 1.95px 1.95px 6px; */
    box-shadow: #db891e 1.95px 1.95px 6px;

    box-shadow: #ffa12549 1.95px 1.95px 6px;

    border: 1px solid rgba(255, 255, 255, 0.164);
    filter: brightness(1.1);
  }

  .voice-menu-options {
    background-color: #1a1a1a;
    border: 1px solid #3d3d3d !important;
  }


  .light-button2{
    margin: 3px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.8em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff0c;
    transition: all ease-in 0.4s;
    border: 1px solid rgba(255, 255, 255, 0.582);

  }
  .light-button2 > svg{
transform: scale(1.3);
  }
  .light-button2:hover{
    color: #ffd49c!important;
    filter: blur(2);
    filter: brightness(1.1);
    background-color: #6d6d6d2c;
    border: 1.5px solid #ffa1254b;
  }
  .light-button2:hover > svg {
    transition: all ease-in 0.4s;
    fill: #ffe6c5 !important;
    fill: #ffe6c58a !important;

  }

  .audioLine{
  display: flex;
  margin: 10px 3px;
  transition: all ease-in 0.4s;
  }



  .css-79ws1d-MuiModal-root {
    backdrop-filter: blur(10px) !important;
    box-shadow: '0px 0px 15px 5px #fcb04d',

  }


  .custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#FFA125 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#FFA125);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }

  @keyframes s3{
    100%{transform: rotate(1turn)}
  }

  @media (prefers-color-scheme: light) {
    :root {
      /* color: #213547; */
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
